/*Target div with id map, make it fill the entire screen without scrollbars*/
div#map {
  position: absolute;
  top: 80px; /* 80px is the height of the nav bar */
  bottom: 0;
  width: 100%;
}

#towerpopupstat {
  font-size: smaller;
  color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: block;
}

#towerpopuptext {
  color: #000000;
  z-index: 999;
  display: inline;
}

#rabbitearslink {
  color: #000000;
  z-index: 999;
  text-decoration: underline;
  display: inline;
}

#towerpopuptitle {
  font-size: small;
  color: #000000;
  z-index: 999;
  text-align: center;
  display: block;
}

#streetview {
  width: 80%;
  height: 80%;
  top: 10%;
    left: 10%;
    position: absolute;

  z-index: 1001;
  /*display: block;*/
}

#dimmer {
  display: none;
  background: #000;
  opacity: 0.5;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 998;
}

#closestreetview {
    position: absolute;
    z-index: 999;
    right: 0;
    top: 0;
}

/* Mapbox Geocoder search bar styling */
.mapboxgl-ctrl-geocoder {
  min-width: 240px;
  max-width: 360px;
  width: 100%;
  font-size: 15px;
  line-height: 20px;
  font-family: "Open Sans", "Helvetica Neue", Arial, Helvetica, sans-serif;
  position: relative;
  background-color: #fff;
  border-radius: 4px;
  z-index: 1;
  transition: width .25s, min-width .25s;
}

.mapboxgl-ctrl-geocoder--input {
  font: inherit;
  width: 100%;
  border: 0;
  background-color: transparent;
  margin: 0;
  height: 36px;
  color: #404040;
  padding: 6px 35px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.mapboxgl-ctrl-geocoder--input:focus {
  color: #404040;
  outline: 0;
  box-shadow: none;
  outline: thin dotted;
}

.mapboxgl-ctrl-geocoder .mapboxgl-ctrl-geocoder--pin-right > * {
  z-index: 2;
  position: absolute;
  right: 8px;
  top: 7px;
  display: none;
}

.mapboxgl-ctrl-geocoder .mapboxgl-ctrl-geocoder--button {
  padding: 0;
  margin: 0;
  border: none;
  cursor: pointer;
  background: #fff;
  line-height: 1;
  position: absolute;
  top: 7px;
}

.mapboxgl-ctrl-geocoder--icon {
  display: inline-block;
  vertical-align: middle;
  speak: none;
  fill: #757575;
  top: 15px;
}

.mapboxgl-ctrl-geocoder--icon-search {
  position: absolute;
  top: 7px;
  left: 7px;
  width: 23px;
  height: 23px;
}

.mapboxgl-ctrl-geocoder--button {
  padding: 0;
  margin: 0;
  border: none;
  cursor: pointer;
  background: #fff;
  line-height: 1;
  width: 23px;
  height: 23px;
}

.mapboxgl-ctrl-geocoder--icon-close {
  width: 20px;
  height: 20px;
  margin-top: 0;
  margin-right: 0;
}

.mapboxgl-ctrl-geocoder.mapboxgl-ctrl-geocoder--collapsed {
  width: 36px;
  min-width: 36px;
  transition: width .25s, min-width .25s;
}

.mapboxgl-ctrl-geocoder--powered-by {
  display: block;
}

/* Suggestions dropdown with background */
.mapboxgl-ctrl-geocoder .suggestions {
  background-color: #fff;
  border-radius: 4px;
  left: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  top: 110%;
  z-index: 1000;
  overflow: hidden;
  font-size: 15px;
  box-shadow: 0 0 10px 2px rgba(0,0,0,.1);
}

.mapboxgl-ctrl-geocoder .suggestions > li {
  padding: 6px 12px;
  color: #404040;
  cursor: pointer;
}

.mapboxgl-ctrl-geocoder .suggestions > li:hover,
.mapboxgl-ctrl-geocoder .suggestions > .active {
  background-color: #f3f3f3;
}

.mapboxgl-ctrl-geocoder .suggestions > li > a {
  display: block;
  color: #404040;
  text-decoration: none;
  cursor: pointer;
}

.mapboxgl-ctrl-geocoder .suggestion-title {
  font-weight: bold;
}

.mapboxgl-ctrl-geocoder .suggestion-address {
  font-size: 13px;
  color: #757575;
}

/* Show the clear button when input is not empty */
.mapboxgl-ctrl-geocoder.mapboxgl-ctrl-geocoder--input:not(:placeholder-shown) ~ .mapboxgl-ctrl-geocoder--pin-right > * {
  display: block;
}

.mapboxgl-ctrl-geocoder .mapboxgl-ctrl-geocoder--pin-right > .mapboxgl-ctrl-geocoder--button {
  display: block;
}
