div#rightclickpopup {
    padding: 0;
    margin: 0;
}

div#right-click-popup-content {
    z-index: 999;
}

text#rightclickpopup-routing-state {
    z-index: 999;
    font-weight: bold;
    font-size: 18px;
    color: black;
    top: 4px;
}

text#custompopupname {
    z-index: 999;
    font-weight: bold;
    font-size: 16px;
    color: black;
    top: 4px;
}

text#custompopupdescription {
    z-index: 999;
    font-size: 13px;
    color: black;
    top: 24px;
}

text#routing-information {
    z-index: 9;
    color: black;
    position: absolute;
    font-size: 15px;
    width: 70%;
}

div#rightclickpopupbuttons {
/*    align right*/
/*    position: absolute;*/
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 5px;
    padding-bottom: 5px;

    z-index: 999;
}

button#rightclickpopupbutton {
    float: right;
    z-index: 999;
    display: block;
}

text#popupcoords {
    padding-bottom: 0;
    margin-bottom: 0;
    font-size: smaller;
    color: rgba(0, 0, 0, 0.7);
    z-index: 999;
    text-align: center;
    display: block;
}


div#custompopupdetail {
    padding-top: 4px;
    padding-bottom: 3px;
    line-height: 1.2em;
    color: rgba(0, 0, 0, 0.6);
    z-index: 999;
}

input#custompopupname {
    font-weight: bold;
    font-size: 16px;
    color: black;
    width: 95%;
    margin-right: 20px;
}

textarea#custompopupdescription {
    font-size: 13px;
    color: black;
    width: 95%;
    resize: none;
}

div#custompopupselects {
    padding-bottom: 3px;
    padding-top: 3px;
    color: rgba(0, 0, 0, 0.6);
    z-index: 999;
    width: 95%;
}

select#custompopupcategory {
    font-size: 13px;
    color: black;
    width: 100%;
}

select#custompopupcolor {
    padding-left: 2px;
    font-size: 13px;
    color: black;
    width: 100%;
}

table#custompopupinfotable {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    width: 100%;
    text-align: left;
    padding-top: 3px;
    padding-bottom: 3px;
    color: black;
}

tr:nth-child(even) {
    background-color: #cecece;
}


.rightclick-popup .mapboxgl-popup-content {
    background-color: #e6e6e6;
    padding-bottom: 0;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.mapboxgl-popup-anchor-top .mapboxgl-popup-tip {
    border-bottom-color: #e6e6e6 !important;
}
.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
    border-top-color: #e6e6e6 !important;
}
.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
    border-right-color: #e6e6e6 !important;
}
.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
    border-left-color: #e6e6e6 !important;
}
