#modal {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    position: absolute;
    height: 100%;
    width: 100%;
}

#modal-background {
    z-index: 1000;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .7;
}

#modal-content {
    z-index: 1001;
    background-color: white;
    opacity: 1;
    width: 700px;
    height: 500px;
    margin-bottom: 100px;
    border-radius: 10px;
    color: black;
    font-size: 15px;
}

#modal-title {
    font-size: 20px;
    margin-left: 7px;
}

#modal-close-button {
    z-index: 1002;
}