#sidebar {
    background: #ffffff;
    position: absolute;
    z-index: 999;
    top: 80px;
    right: 0;
    bottom: 0;
    width: 256px;
    border: 1px solid rgba(0,0,0,0.4);
    font-family: 'Open Sans', sans-serif;
}

#sidebarbutton {
    position: absolute;
    z-index: 999;
    right: 0;
    top: 50px;
}