/* #sidebar {
    background: #ffffff;
    position: absolute;
    z-index: 999;
    top: 80px;
    right: 0;
    bottom: 0;
    width: 256px;
    border: 1px solid rgba(0,0,0,0.4);
    font-family: 'Open Sans', sans-serif;
}*/

#sidebar {
    display: flex;
    background: white;
    position: absolute;
    z-index: 999;
    top: 80px;
    right: 0;
    bottom: 0;
    width: 320px;
    flex-direction: column;
    align-items: flex-start;
}

#sidebar-header {
    width: 100%;
    height: 50px;
    background-color: black;
    display: flex;
    justify-content: space-between;
}

.sidebar-link {
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar-link-button {
    height: 30px;
    width: 30px;
    background-size: cover;
    border: none;
    cursor: pointer;
}

.sidebar-hidden {
    position: absolute;
    z-index: 999;
    right: 10px;
    top: 90px;
}

#sidebar-content {
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.weather {
    background-image: url('../images/sunrise.png')
}

.maps {
    background-image: url('../images/maps.png')
}

.clock {
    background-image: url('../images/clock.png')
}

.expand {
    background-image: url('../images/expand.png')
}

#base-layer-container {
    margin-left: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2%;
    width: 300px;
    user-select: none;
}

.base-layer-item {
    aspect-ratio: 1/1;
    color: black;
    width: 120px;
    height: 90px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 15px;
    border: 2px solid black;
}

.base-layer-selected {
    border: 2px solid rgb(0, 110, 200);
}

.base-layer-img {
    width: 60px;
    height: 60px;
    border-radius: 10px;
}

.base-layer-esri {
    background-image: url('../images/esri.png');    
}

.base-layer-googlehybrid {
    background-image: url('../images/googlehybrid.png');
}

.base-layer-binghybrid {
    background-image: url('../images/binghybrid.png');
}

.base-layer-openstreetmap {
    background-image: url('../images/openstreetmap.png');
}

#regular-layer-container {
    margin-left: 10px;
    width: 300px;
    user-select: none;
}

.regular-layer-normal {
    width: 275px;
    border: 1px solid black;
    border-radius: 6px;
    height: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10px;
    color: black;
    font-size: 15px;
    margin-bottom: 15px;
}

.regular-layer-normal > span {
    margin-left: 10px;
}

.regular-layer-normal > input {
    margin: 0;
}

.regular-layer-many {
    width: 255px;
    border: 1px solid black;
    border-radius: 6px;
    height: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 9px;
    color: black;
    font-size: 12px;
    margin-bottom: 15px;
    margin-left: 20px;
}

.regular-layer-many > span {
    margin-left: 7px;
}

.regular-layer-many > input {
    margin: 0;
}

.regular-layer-normal-selected {
    border: 1px solid blue;
}

.custom-map-container {
    border: 1px solid black;
    color: black;
}

.custom-map-container-header {
    font-size: 20px;
}

.custom-map-container-main {
    font-size: 15px;
    display: flex;
    flex-direction: column;
}

.custom-map-container-points {
    display: flex;
    flex-direction: column;
}

.custom-map-point {
    margin-top: 7px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.custom-map-point-container {
    display: flex;
    align-items: center;
}

.custom-map-point-selected {
    border: 2px solid black;
}

.custom-map-point-icon {
    margin: 0 5px;
    height: 20px;
    width: 20px;
    object-fit: contain;
}

.custom-map-point-text {
    font-size: 13px;
}

.custom-map-point-text-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.custom-map-point-edit-button {
    color: black;
    font-size: 15px;
    margin-right: 20px;
}

.custom-map-point-edit-button:hover {
    text-decoration: underline;
    cursor: pointer;
}