#indented {
    padding-left: 1em;
}

#center {
    text-align: center;
}

#placedescription {
    padding-top: .25em;
}

#createmarkerbutton {
    float: right;
}

.leaflet-popup-content-wrapper {
    border-radius: 0;
    border:3px solid rgba(0,0,0,0.4);
}

#pointtype {
    display: inline-block;
    padding-top: .5em;
    color: gray;
}
