#indented {
    padding-left: 1em;
}

#center {
    text-align: center;
}

#placedescription {
    padding-top: .25em;
}

#createmarkerbutton {
    float: right;
}

.leaflet-popup-content-wrapper {
    padding: 0;
    margin: 0;
    border-radius: 0;
    border:3px solid rgba(0,0,0,0.4);
}

#pointtype {
    display: inline-block;
    padding-top: .5em;
    color: gray;
}

textarea {
    width: 96%;
    max-width: 96%;
}


button#submitpoint {
    float: right;
}